<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="Console" />
  </root>

  <!--
    builder.Logging.AddLog4Net() routes ALL Microsoft.Extensions.Logging
    output (including framework/host noise like Microsoft.Hosting.Lifetime,
    Microsoft.AspNetCore.*, EF Core, etc.) into log4net. Without these
    overrides, that noise inherits the root logger's appenders and gets
    written to the DB along with real application logs. Route framework
    categories to Console only (additivity="false" stops them from also
    bubbling up to root's AdoNetAppender).
  -->
  <logger name="Microsoft" additivity="false">
    <level value="INFO" />
    <appender-ref ref="Console" />
  </logger>
  <logger name="System" additivity="false">
    <level value="INFO" />
    <appender-ref ref="Console" />
  </logger>

  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Log4Net [%date] %-5level: %message%newline" />
    </layout>
  </appender>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
    <connectionString value="WILL_BE_ADDED_IN_CODE" />
    <commandText value='INSERT INTO "Logs" ("Timestamp", "ApplicationName", "Level", "Logger", "Message", "Exception") VALUES (@log_date, @application_name, @log_level, @logger, @message, @exception)' />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="FundMate.Web.Logging.RawUtcTimeStampLayout, FundMate.Web" />
    </parameter>
    <parameter>
      <parameterName value="@application_name" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout" value="%property{ApplicationName}" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="20" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
</log4net>
